/* Dark Theme Styles */
body {
	background-color: #1f1f1f;
	color: #fff;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}
/* Footer Styles */
footer {
	font-size: 12px;
	text-align: right;
    background-color: #333;
    color: #fff;
    padding: 0px 20px;
    /* position: fixed; */
}
