/* Box Styles */
.box {
	margin: 0px 5px;
	padding: 6px;
	border: 2px solid #444;
	border-radius: 4px;
	background-color: #333;
	color: #fff;
	font-size: 18px;
}

.box-number {
	font-size: 32px;
	font-weight: bold;
}
.box-long {
	width: 100%;
}
