/* Button Styles */
.button {
	width: 100px;
	height: 38px;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
/* Red Button Styles */
.button-red {
    background-color: #d9534f;
    color: #fff;
}
.button-red:hover {
    background-color: #c9302c;
}
/* Red Button Styles */
.button-green {
    background-color: #258124;
    color: #fff;
}
.button-green:hover {
    background-color: #027101;
}
