/* Progress Bar */
progress {
	min-width: 400px;
    width: 100%;
    height: 30px;
    appearance: none;
    background-color: #333;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

/* Progress Value */
progress::value {
    height: 100%;
    width: 50%; /* Adjust the width based on the progress */
    background-color: #4caf50; /* Green color for the fill */
    transition: width 0.3s ease; /* Add a smooth transition effect */
}

/* Progress Value */
.progress-value {
	width: 100%;
	position: absolute;
	text-align: center;
	transform: translate(-20%, -130%);
	font-size: 18px;
}
