/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

td {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
