/* Tile Styles */
.tile {
	background-color: #333;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 180px;
	height: 200px;
	min-width: 160px;
	min-height: 140px;
	margin: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.tile h2 {
	font-size: 14px;
	color: #3498db;
	margin: 10px;
	text-align: center;
}

.tile p {
	font-size: 36px;
	color: #fff;
	text-align: center;
	margin: 0;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tile span {
	font-size: 18px;
	color: #777;
	text-align: center;
	margin: 10px;
}
